name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  rspec:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
          - 3.1
          - 3.2
          - 3.3
    env:
      BUNDLE_GEMFILE: Gemfile
    name: "RSpec tests: Ruby ${{ matrix.ruby }}"
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # pin v6.0.2
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # pin @1.288.0
        with:
          bundler-cache: true
          ruby-version: ${{ matrix.ruby }}
      - name: Run tests
        run: bin/rspec
  rubocop_check:
    name: "Rubocop"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # pin v6.0.2
      - name: Set up Ruby
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # pin @1.288.0
        with:
          bundler-cache: true
          ruby-version: 3.3
      - name: Run Rubocop checks
        run: bin/rubocop
