name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  rspec:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
          - 3.1
          - 3.2
          - 3.3
    env:
      BUNDLE_GEMFILE: Gemfile
    name: "RSpec tests: Ruby ${{ matrix.ruby }}"
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # pin v6.0.1
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@8d27f39a5e7ad39aebbcbd1324f7af020229645c # pin @1.287.0
        with:
          bundler-cache: true
          ruby-version: ${{ matrix.ruby }}
      - name: Run tests
        run: bin/rspec
  rubocop_check:
    name: "Rubocop"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # pin v6.0.1
      - name: Set up Ruby
        uses: ruby/setup-ruby@8d27f39a5e7ad39aebbcbd1324f7af020229645c # pin @1.287.0
        with:
          bundler-cache: true
          ruby-version: 3.3
      - name: Run Rubocop checks
        run: bin/rubocop
