name: 'Dependabot vulerabilities notification to Slack'

on:
  schedule:
    - cron: '0 09 * * *' # Cron
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  Notify-Vulnerabilites:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: read
    steps:
      # Latest version available at: https://github.com/kunalnagarco/action-cve/releases
      - name: Notify Vulnerabilities
        uses: kunalnagarco/action-cve@de3f42dfceaaff2abdee84454a0db2c7b93c06ce # pin @v1.14.17
        with:
          token: ${{ secrets.ACCESS_TOKEN_GITHUB }} # This secret is located in settings > actions > Repository secrets
          slack_webhook: ${{ secrets.SLACK_WEBHOOK }} # This secret is located in settings > actions > Repository secrets
