name: Docs Validation

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # pin v6.0.0
    - name: Setup Node.js
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # pin @v6.1.0
      with:
        node-version: 22
        cache: 'npm'
        cache-dependency-path: docs/package-lock.json
    - name: Install dependencies
      working-directory: ./docs
      run: npm ci
    - name: Check for lint and formatting errors
      working-directory: ./docs
      run: |
        npm run lint
        npm run format -- --check
    - name: Ensure docs artifact is up-to-date
      working-directory: ./docs
      run: |
        npm run build
        git diff --quiet
