name: Docs Validation

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # pin v6.0.1
    - name: Setup Node.js
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # pin @v6.0.0
      with:
        node-version: 22
        cache: 'npm'
        cache-dependency-path: docs/package-lock.json
    - name: Install dependencies
      working-directory: ./docs
      run: npm ci
    - name: Check for lint and formatting errors
      working-directory: ./docs
      run: |
        npm run lint
        npm run format -- --check
    - name: Ensure docs artifact is up-to-date
      working-directory: ./docs
      run: |
        npm run build
        git diff --quiet
