name: Docs Validation

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # pin v6.0.2
    - name: Setup Node.js
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # pin @v6.2.0
      with:
        node-version: 22
        cache: 'npm'
        cache-dependency-path: docs/package-lock.json
    - name: Install dependencies
      working-directory: ./docs
      run: npm ci
    - name: Check for lint and formatting errors
      working-directory: ./docs
      run: |
        npm run lint
        npm run format -- --check
    - name: Ensure docs artifact is up-to-date
      working-directory: ./docs
      run: |
        npm run build
        git diff --quiet
