name: Feature Map Validation

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  rspec:
    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: Gemfile
    name: "Ensure assignments are up-to-date"
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # pin v6.0.2
      - name: Set up Ruby 3.2
        uses: ruby/setup-ruby@8d27f39a5e7ad39aebbcbd1324f7af020229645c # pin @1.287.0
        with:
          bundler-cache: true
          ruby-version: 3.2
      - name: Execute validation
        run: bin/featuremap validate
