name: Feature Map Validation

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  rspec:
    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: Gemfile
    name: "Ensure assignments are up-to-date"
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # pin v6.0.0
      - name: Set up Ruby 3.2
        uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # pin @1.268.0
        with:
          bundler-cache: true
          ruby-version: 3.2
      - name: Execute validation
        run: bin/featuremap validate
