name: Feature Map Validation

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  rspec:
    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: Gemfile
    name: "Ensure assignments are up-to-date"
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # pin v6.0.1
      - name: Set up Ruby 3.2
        uses: ruby/setup-ruby@675dd7ba1b06c8786a1480d89c384f5620a42647 # pin @1.281.0
        with:
          bundler-cache: true
          ruby-version: 3.2
      - name: Execute validation
        run: bin/featuremap validate
